.navbar {
    background-color: #fff !important; /* Fondo blanco */
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .navbar-brand {
    font-weight: 700;
  }
  
  .navbar-nav .nav-link {
    color: #333; /* Color de enlace oscuro */
    transition: color 0.2s; /* Transición suave al pasar el ratón */
  }
  
  .navbar-nav .nav-link:hover {
    color: #28a745; /* Color de enlace verde al pasar el ratón */
  }